<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>453721345234-hns1lem98vq3q322hlk3m2pbb7dk5ljq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453721345234-hns1lem98vq3q322hlk3m2pbb7dk5ljq</string>
	<key>API_KEY</key>
	<string>AIzaSyC9xuBVtr1yIwnL0fHBKEaTxSaMtnJ9NyA</string>
	<key>GCM_SENDER_ID</key>
	<string>453721345234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.ysy.InstaNEU</string>
	<key>PROJECT_ID</key>
	<string>apr10instaneu</string>
	<key>STORAGE_BUCKET</key>
	<string>apr10instaneu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453721345234:ios:fff10e25cda32d58</string>
	<key>DATABASE_URL</key>
	<string>https://apr10instaneu.firebaseio.com</string>
</dict>
</plist>